@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

body{
    width: 100%;
    margin: 0;
    padding: 0;
}

.header{
    font-family: "Dongle", Arial, Helvetica, sans-serif;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ico{
    padding: 0 10px;
}

.line{
display: grid;
grid-template-columns: 100px auto 100px;
}

.line-inner{
border-bottom: 1px solid black;
grid-column: 2/3; 
}

.board{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 100px 100px 100px;
    padding-top: 15vh;
}

.button{
    padding: 0%;
    margin: 0;
}

.btn{
    width: 100px;
    height: 100px;
}